*Theory.*
*.a
*.o
*.cmo
*.cmi
*.cmx
*.cmt
*.cmti
*.cma
*.cmxa
a.out
*.so
*.native
*.byte
_build
# posix-fs-spec-opam-repo ? needed?
doc/www/_book/
fs_spec/build/posix
fs_spec/build/tr
src_ext/lem

# fs_spec/build artefacts
fs_spec/build/Lem_support.thy
fs_spec/build/README
fs_spec/build/T_fs_spec.patch
fs_spec/build/abstract_string.ml
fs_spec/build/abstract_string.mli
fs_spec/build/dir_heap.ml
fs_spec/build/fs_dict_wrappers.ml
fs_spec/build/fs_dict_wrappers.mli
fs_spec/build/fs_dump.ml
fs_spec/build/fs_interface.ml
fs_spec/build/fs_interface.mli
fs_spec/build/fs_prelude.ml
fs_spec/build/fs_prelude.mli
fs_spec/build/fs_printer.ml
fs_spec/build/fs_spec.ml
fs_spec/build/fs_spec_fs_command_properties.ml
fs_spec/build/fs_spec_properties.ml
fs_spec/build/fs_spec_properties_perms.ml
fs_spec/build/generated_lem
fs_spec/build/generated_ml
fs_spec/build/generated_tml
fs_spec/build/lem_support.ml
fs_spec/build/lem_support.mli
fs_spec/build/link
fs_spec/build/list_array.ml
fs_spec/build/list_array.mli
fs_spec/build/old
fs_spec/build/run_lem
fs_spec/build/t_dir_heap.lem
fs_spec/build/t_dir_heap.lem_cppo
fs_spec/build/t_dir_heap.ml
fs_spec/build/t_fs_prelude.lem
fs_spec/build/t_fs_prelude.ml
fs_spec/build/t_fs_spec.lem
fs_spec/build/t_fs_spec.lem_cppo
fs_spec/build/t_fs_spec.ml
fs_spec/build/t_fs_specScript.patch
fs_spec/build/t_fs_spec_fs_command_properties.lem
fs_spec/build/t_fs_spec_fs_command_properties.lem_cppo
fs_spec/build/t_fs_spec_fs_command_properties.ml
fs_spec/build/t_fs_spec_properties.lem
fs_spec/build/t_fs_spec_properties.ml
fs_spec/build/t_fs_spec_properties_perms.lem
fs_spec/build/t_fs_spec_properties_perms.lem_cppo
fs_spec/build/t_fs_spec_properties_perms.ml
fs_spec/build/t_list_array.lem
fs_spec/build/t_list_array.ml
fs_spec/build/t_list_arrayAuxiliary.ml
